*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;/* não deixa o elemento sair do lugar, ele fixa o tamanho da caixa - exemplos que vimos de border , magin e padding aumentando as dimensões do elemento*/
}
body{
    background-image:url(img/fundo.png);
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.main{
width: 40%;
padding: 20px;
background-color: rgb(253, 165, 0);
position: relative;
border-radius: 20px;
border: 1px solid rgb(253, 0, 0);
animation: cor 5s infinite;

}
@keyframes cor{
    45%{background-color: blue;}
    60%{background-color: rgb(81, 255, 0);}
    90%{background-color: rgb(0, 255, 200);}
}
img{
    width:100%;
    height:auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
    border-radius: 20px;
}
